.navbar {
  background-color: #760000 !important;
}

.list.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* always 3 cards per row */
  gap: 15px; /* space between cards */
}

@media (max-width: 768px) {
  .list.grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }
}

.badge {
  color: black !important;
  font-weight: normal !important;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img-top {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.title-link {
  text-decoration: none;
  color: #760000;
  font-weight: bold;
  text-align: center;
}

.category-link {
  text-decoration: none;
}
